@import '/src/styles/utils/variables';

.favorites {
  padding: 0 $padding-inline-phone 56px $padding-inline-phone;
  width: 100%;
  background: $main-background-color;

  @include on-tablet {
    padding: 0 $padding-inline-tablet 56px $padding-inline-tablet;
  }

  @include on-desktop {
    padding: 0 $padding-inline-desktop 56px $padding-inline-desktop;
  }

  &__top {
    grid-column: span 4;
    padding: 24px 0 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @include on-tablet {
      grid-column: span 12;
    }

    @include on-desktop {
      grid-column: span 12;
      padding: 32px 0 0;
    }

    & h1 {
      margin: 24px 0 8px;
      text-align: left;
      color: $main-text-color;
      font-family: inherit;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 140%;

      @include on-tablet {
        font-size: 48px;
        letter-spacing: -0.48px;
        line-height: 56px;
      }
    }

    & p {
      margin: 0 0 32px;
      color: $gray-light;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;

      @include on-tablet {
        margin-bottom: 40px;
      }
    }

    &--search-params {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 8px;

      &__name {
        margin: 0;
        display: flex;
        padding: 0;
        color: $gray-light;
        font-family: inherit;
        font-size: 12px;
        line-height: 13px;
        font-style: normal;
        font-weight: 600;
      }
      &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        & a {
          text-decoration: none;
        }

        &-slider {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__product-card {
    grid-column: span 4;
    display: grid;
    gap: 40px;
    height: auto;
    margin: 0;

    @include on-tablet {
      grid-column: span 12;
    }

    & li {
      list-style: none;
    }

    @include on-tablet {
      grid-template-columns: repeat(2, 1fr);
    }

    @include on-wide-tablet {
      grid-template-columns: repeat(3, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
