@import '/src/styles/utils/variables';

.home {
  background-color: $main-background-color;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 16px 56px;

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 24px 56px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    padding: 0 32px 56px;
  }

  &__product-card__scroll {
    grid-column: span 4;
    padding: 0;
    overflow-x: scroll;

    @include on-tablet {
      grid-column: span 12;
      justify-content: space-between;
    }

    &__content {
      padding: 0;
      margin: 0;
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include on-tablet {
        grid-template-columns: repeat(12, 1fr);
      }

      @include on-wide-tablet {
        gap: 36px;
        grid-template-columns: repeat(12, 1fr);
      }

      @include on-desktop {
        grid-template-columns: repeat(4, 1fr);
      }

      & li {
        list-style: none;
        width: $phone-product-card-width;

        @include on-tablet {
          width: $tablet-product-card-width;
        }

        @include on-wide-tablet {
          width: $wide-tablet-product-card-width;
        }

        @include on-desktop {
          width: 100%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            grid-column: span 1;
          }
        }
      }
    }
  }

  &__bottom {
    grid-column: span 4;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include on-tablet {
      grid-column: span 12;
    }

    &__slider {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 14px;

      @include on-tablet {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(12, 1fr);
        gap: 16px;
        align-items: center;
        justify-content: center;
      }

      @include on-wide-tablet {
        grid-template-columns: repeat(18, 1fr);
      }

      @include on-desktop {
        grid-template-columns: repeat(24, 1fr);
      }

      &__img {
        @include on-tablet {
          grid-column: 2/12;
          display: grid;
          grid-template-columns: repeat(12, 1fr);
          align-items: center;
          justify-content: center;
        }

        @include on-wide-tablet {
          grid-column: 2/18;
        }

        @include on-desktop {
          grid-column: 2/24;
        }

        &--banner {
          width: 100vw;
          aspect-ratio: 1/1;

          @include on-tablet {
            display: none;
          }
        }

        &--tablet {
          display: none;

          @include on-tablet {
            display: flex;
            width: 100%;
            grid-column: span 12;
          }
        }

        &--desktop {
          display: none;

          @include on-tablet {
            display: none;
          }

          @include on-desktop {
            display: flex;
            width: 100%;
          }
        }
      }

      &-left {
        display: none;

        @include on-tablet {
          background-image: url(../../assets/icons/slider_gray_left.svg);
          background-repeat: no-repeat;
          background-position: center;
          cursor: pointer;
          display: flex;
          grid-column: 1/2;
          height: 100%;
          border-radius: 20px;
          border: 1px solid $border-color;

          &:hover {
            background-image: url(../../assets/icons/slider_black_left.svg);
            border: 1px solid black;
          }
        }

        @include on-wide-tablet {
          border-radius: 35px;
        }
      }

      &-right {
        display: none;

        @include on-tablet {
          cursor: pointer;
          display: flex;
          grid-column: 12/13;
          height: 100%;
          border-radius: 20px;
          border: 1px solid $border-color;
          background-image: url(../../assets/icons/slider_gray_right.svg);
          background-repeat: no-repeat;
          background-position: center;

          &:hover {
            background-image: url(../../assets/icons/slider_black_right.svg);
            border: 1px solid black;
          }
        }

        @include on-wide-tablet {
          border-radius: 35px;
          grid-column: 18/19;
        }

        @include on-desktop {
          grid-column: 24/25;
        }
      }
    }

    &--title {
      display: flex;
      width: 100%;
      padding: 24px 0;
      margin: 0;
      font-size: 32px;
      line-height: 41px;
      letter-spacing: -0.32px;

      @include on-tablet {
        padding: 32px 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
        letter-spacing: -1%;
        text-align: left;
      }

      @include on-desktop {
        padding: 56px 0;
      }
    }

    &--slider {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: $phone-sections-gap;
      gap: 4px;

      @include on-tablet {
        display: none;
      }

      &__left,
      &__middle,
      &__right {
        box-sizing: content-box;
        width: 14px;
        height: 4px;
        padding: 5px;

        &::before {
          content: '';
          display: block;
          width: 100%;
          height: 100%;
          background-color: #e2e6e9;
          cursor: pointer;
        }
      }

      &__is-active {
        &::before {
          background-color: $main-text-color;
        }
      }
    }
  }

  &__new__models {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 72px;
    margin: 0 0 24px;

    @include on-tablet {
      grid-column: span 12;
      padding-top: $tablet-sections-gap;
    }

    @include on-desktop {
      padding-top: $desktop-sections-gap;
    }

    &--title {
      font-family: inherit;
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;

      @include on-tablet {
        font-size: 32px;
        font-weight: 800;
        line-height: 41px;
        letter-spacing: -0.32px;
      }
    }

    &--slider {
      display: flex;
      align-items: center;
      gap: 16px;
      list-style: none;

      &--layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 48px;
        border: 1px solid $shadow;
      }
    }
  }

  &__categories {
    grid-column: span 4;
    display: flex;
    font-family: inherit;
    width: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: $phone-sections-gap 0 0;

    @include on-tablet {
      grid-column: span 12;
      padding: $tablet-sections-gap 0 0;
    }

    @include on-desktop {
      grid-column: span 12;
      padding: $desktop-sections-gap 0 0;
    }

    &--title {
      font-family: inherit;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;

      @include on-tablet {
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.32px;
      }
    }

    &--list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;

      @include on-tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px;
      }

      &--phones,
      &--tablets,
      &--accessories {
        text-decoration: none;
        &--img {
          width: 100%;
          border-radius: 8px;
          transform: translate(20%, 20%);

          @include on-tablet {
            grid-column: span 1;
          }
        }

        &--wrapper {
          overflow: hidden;
          aspect-ratio: 1/1;
        }

        p {
          margin: 0;
          padding: 0 0 32px;
          color: $gray-light;
          font-family: inherit;
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
        }

        h3 {
          margin: 0;
          padding: 24px 0 0;
          color: $main-text-color;
          font-family: inherit;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
        }
      }

      &--phones {
        &--wrapper {
          background: #6d6474;
          border-radius: 8px;
        }
      }

      &--tablets {
        &--wrapper {
          background: #8d8d92;
          border-radius: 8px;
        }
      }

      &--accessories {
        &--img {
          height: 100%;
          object-fit: cover;
          object-position: left top;
        }

        &--wrapper {
          background: #d53c51;
          border-radius: 8px;
        }
      }
    }
  }

  &__hot--prices {
    grid-column: span 4;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    gap: 72px;
    margin: 24px 0;

    @include on-tablet {
      grid-column: span 12;
      margin: 32px 0 24px;
    }

    &--title {
      font-family: inherit;
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;

      @include on-tablet {
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.32px;
      }
    }
  }
}
