@import '/src/styles/utils/variables.scss';

.home {
  background-color: #fafbfc;
  display: grid;
  grid-template-rows: auto 1fr auto;

    &__product-card {
      width: 212px;
      height: 439px;
    }

    &__bottom {
      width: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;

      &--banner {
        width: 100vw;
        aspect-ratio: 1/1;
      }

      &--title {
        padding: 0 16px;
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.32px;
      }

      &--slider {
        width: 80px;
        padding-bottom: $phone-sections-gap;
      }
    }

  &__new__models {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    gap: 72px;
    margin: 0 0 24px;

    &--title {
      font-family: inherit;
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
    }

    &--slider {
      display: flex;
      align-items: center;
      gap: 16px;
      list-style: none;

      &--layout {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        border-radius: 48px;
        border: 1px solid #e2e6e9;
      }
    }
  }

  &__categories {
    display: flex;
    font-family: inherit;
    width: inherit;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: $phone-sections-gap 16px 0;

    &--list {
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;
      list-style: none;

      &--phones,
      &--tablets,
      &--accessories {
        &--img {
          width: 100%;
          border-radius: 8px;
          transform: translate(20%, 20%);
        }

        &--wrapper {
          overflow: hidden;
          aspect-ratio: 1/1;
        }

        p {
          margin: 0;
          padding: 0 0 32px;
          color: #89939a;
          font-family: inherit;
          font-size: 14px;
          font-weight: 600;
          line-height: 21px;
        }

        h3 {
          margin: 0;
          padding: 24px 0 0;
          color: #0f0f11;
          font-family: inherit;
          font-size: 20px;
          font-weight: 700;
          line-height: normal;
        }
      }

      &--phones {
        &--wrapper {
          background: #6d6474;
        }
      }

      &--tablets {
        &--wrapper {
          background: #8d8d92;
        }
      }

      &--accessories {
        &--img {
          height: 100%;
          object-fit: cover;
          object-position: left top;
        }

        &--wrapper {
          background: #d53c51;
        }
      }
    }
  }

  &__hot--prices {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    gap: 72px;
    margin: 0 0 24px;

    &--title {
      font-family: inherit;
      margin: 0;
      padding: 0;
      font-size: 22px;
      font-weight: 800;
      line-height: 140%;
    }
  }
}
