@import '/src/styles/utils/variables';

.aside-menu {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    background: $white;
    box-shadow: 0 -1px 0 0 $shadow;

    &__cart {
      & img {
        width: 15px;
        height: 15px;
      }
    }

    &__like,
    &__cart {
      height: 64px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -1px 0 0 0 $shadow;
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid $gray-dark;
      }
    }
  }

  &__header {
    width: 100%;
    padding: 0 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white;
    box-shadow: 0 1px 0 0 $shadow;

    &__close,
    &__logo {
      margin: 0;
      padding: 0;
      text-decoration: none;

      & img,
      .header--logo img {
        display: block;
      }
    }

    &__close {
      padding: $padding-inline-phone;
      box-shadow: -1px 0 0 0 $shadow;
      background: $white;
      border-bottom: 2px solid transparent;
      &:hover {
        border-bottom: 2px solid $gray-dark;
      }
    }
  }

  &__nav {
    margin: 24px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      &__link {
        margin: 0;
        text-decoration: none;
        padding: 8px 0 6px;
        color: $gray-light;
        border-bottom: 2px solid transparent;

        font-family: inherit;
        font-size: 12px;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 4%;
        text-transform: uppercase;

        &:hover {
          color: $gray-dark;
          cursor: pointer;
          border-bottom: 2px solid $gray-dark;
        }
      }
    }
  }
}
