.aside-menu {
  height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;

  &__header {
    width: 100%;
    padding: 0 0 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    box-shadow: 0 1px 0 0 #e2e6e9;

    @include on-tablet {
      grid-column: span 12;
      padding: 13px 24px;
    }

    &__close,
    &__logo {
      margin: 0;
      padding: 0;
      text-decoration: none;

      & img,
      .header--logo img {
        display: block;
      }
    }

    &__close {
      padding: 16px;
      box-shadow: -1px 0 0 0 rgb(226, 230, 233);
      background: rgb(255, 255, 255);
    }
  }

  &__nav {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 24px;
    list-style: none;

    &__list {
      display: flex;
      margin: 0;
      padding: 0;
      flex-direction: column;
      align-items: center;
      gap: 16px;
      &__link {
        margin: 0;
        text-decoration: none;
        padding: 8px 0 6px;
        color: #89939a;
        border-bottom: 2px solid transparent;

        font-family: inherit;
        font-size: 12px;
        font-weight: 700;
        line-height: 11px;
        letter-spacing: 4%;
        text-transform: uppercase;

        &:hover {
          color: #313237;
          cursor: pointer;
          border-bottom: 2px solid rgb(49, 50, 55);
        }
      }
    }
  }
  &__bottom {
    width: 100%;
    display: flex;
    align-items: center;
    background: #fff;
    box-shadow: 0 -1px 0 0 #e2e6e9;

    &__like,
    &__cart {
      height: 64px;
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: -1px 0 0 0 rgb(226, 230, 233);
      border-bottom: 2px solid transparent;

      &:hover {
        border-bottom: 2px solid rgb(49, 50, 55);
      }
    }
  }
}
