@import '/src/styles/utils/mixins';

.item-card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: inherit;
  background: #fafbfc;
  margin: 0 16px;

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
    margin: 0 24px;
  }

  @include on-desktop {
    grid-template-columns: repeat(12, 1fr);
    margin: 0 32px;
  }

  &__top {
    grid-column: span 4;
    margin: 24px 0 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @include on-tablet {
      grid-column: span 12;
      margin: 24px 0 0;
    }

    & h1 {
      margin: 16px 0 32px;
      color: #0f0f11;
      font-family: inherit;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 140%;

      @include on-tablet {
        font-size: 32px;
        line-height: 41px;
        letter-spacing: -0.32px;
      }
    }

    & p {
      margin: 0 0 32px;
      color: #89939a;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }

    &--search-params {
      width: 100%;
      display: flex;
      align-items: flex-end;
      gap: 8px;

      &__back {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 4px;
        margin: 24px 0 0;
        padding: 0;

        @include on-tablet {
          margin: 40px 0 0;
        }

        &__name {
          margin: 0;
          padding-top: 1px;
          color: #89939a;
          font-family: inherit;
          font-size: 12px;
          display: flex;
          text-align: center;
          font-weight: 600;
          line-height: 12px;
        }
      }

      &__name {
        margin: 0;
        display: flex;
        padding: 0;
        color: #89939a;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;

        &--exact {
          margin: 0;
          padding: 0;
          color: #89939a;
          font-family: inherit;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &-slider {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__main {
    grid-column: span 4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      grid-column: span 12;
      flex-direction: row;
      margin: 0;
    }

    &__imgs {
      flex: 3;
      display: flex;
      flex-direction: column;

      @include on-tablet {
        flex-direction: row;
        align-items: start;
        height: 100%;
        justify-content: space-between;
      }

      &__front-img {
        background-color: #fafbfc;
        width: inherit;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 7px;
        margin: 0 0 16px;

        @include on-tablet {
          order: 2;
          flex: 6;
        }

        & img {
          height: 274px;

          @include on-tablet {
            height: 350px;
          }
        }
      }

      &__bottom-imgs {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 40px;
        gap: 24px;

        @include on-tablet {
          order: 1;
          flex: 1;
          flex-direction: column;
          gap: 8px;
        }

        & img {
          padding: 4.5px;
          height: 40px;
          width: auto;
          border-radius: 4px;
          border: 0.6px solid #e2e6e9;
          cursor: pointer;

          &:nth-child(2) {
            padding: 0 11.5px;
          }

          &.is-active {
            border: 1px solid #838181;
          }
        }
      }
    }

    &__info {
      flex: 2;
      width: 100%;
      &--bottom {
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        &--add {
          @include button-style;

          height: 48px;
        }

        &--like {
          @include like-button-style;

          width: 48px;
          height: 48px;
        }
      }

      &--properties {
        @include properties;

        padding: 32px 0 48px;

        &--specific {
          display: flex;
          justify-content: space-between;
        }

        & p {
          @include p;
        }

        & span {
          @include span;
        }
      }

      &__colors-label {
        width: 100%;
        display: flex;
        padding: 0;
        margin: 0 0 8px;
        justify-content: space-between;
        align-items: center;
        color: #89939a;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      &__actual-colors {
        width: 100%;
        padding-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 8px;
        border-bottom: 1px solid #e2e6e9;
      }

      &__capacity {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin: 24px 0 8px;
        justify-content: start;
        align-items: start;

        & p {
          margin: 0;
          color: #89939a;
          font-family: inherit;
          font-size: 12px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }

        &-options {
          width: 100%;
          display: flex;
          flex-direction: center;
          align-items: start;
          gap: 8px;
          border-bottom: 1px solid #e2e6e9;
          padding-bottom: 24px;

          & button {
            width: 65px;
            height: 32px;
            flex-shrink: 0;
            border-radius: 4px;
            border: 1px solid #b4bdc3;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: inherit;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
          }

          &-active {
            background-color: #0f0f11;
            color: #fff;
          }

          &-passive {
            background: none;
            color: #0f0f11;
          }
        }
      }

      &__price {
        margin: 32px 0 16px;
        width: 100%;
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 8px;

        &--discount {
          color: #0f0f11;
          font-family: inherit;
          font-size: 32px;
          font-style: normal;
          font-weight: 800;
          line-height: 41px;
          letter-spacing: -0.32px;
        }

        &--original {
          color: #89939a;
          font-family: inherit;
          font-size: 22px;
          font-style: normal;
          line-height: 41px;
          font-weight: 500;
          text-decoration: line-through;
        }
      }
    }
  }

  &__about {
    grid-column: span 4;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include on-tablet {
      grid-column: span 12;
      margin: 0;
    }

    &--properties {
      @include properties;

      padding: 30px 0 $phone-sections-gap;

      @include on-tablet {
        padding: 30px 0 $tablet-sections-gap;
      }

      &--specific {
        display: flex;
        justify-content: space-between;
      }

      & p {
        @include p;

        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }

      & span {
        @include span;

        font-size: 14px;
        font-weight: 600;
        line-height: 21px;
      }
    }

    &__general {
      h2 {
        margin: 0;
        width: 100%;
        color: #0f0f11;
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 16px;
        border-bottom: 1px solid #e2e6e9;

        @include on-tablet {
          font-size: 22px;
          font-weight: 800;
          line-height: 140%;
        }
      }

      h3 {
        margin: 0;
        padding: 32px 0 16px;
        color: #0f0f11;
        font-family: inherit;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

        @include on-tablet {
          font-size: 20px;
          font-weight: 700;
        }
      }

      p {
        margin: 0;
        color: #89939a;
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 21px;
      }
    }

    &__tec-specs {
      width: 100%;
      & h2 {
        width: 100%;
        border-bottom: 1px solid #e2e6e9;
        margin: $phone-sections-gap 0 0;
        color: #0f0f11;
        font-family: inherit;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        padding-bottom: 16px;

        @include on-tablet {
          margin: $tablet-sections-gap 0 0;
        }
      }
    }

    &__suggestions {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & h2 {
        margin: 0;
        color: #0f0f11;
        font-family: inherit;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: 140%;
      }
    }
  }

  &__scroll {
    grid-column: span 4;
    padding: 0;
    overflow-x: scroll;

    @include on-tablet {
      grid-column: span 12;
      justify-content: space-between;
    }

    &__content {
      padding: 0;
      margin: 0;
      gap: 16px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @include on-tablet {
        grid-template-columns: repeat(12, 1fr);
      }

      @include on-wide-tablet {
        gap: 36px;
        grid-template-columns: repeat(12, 1fr);
      }

      @include on-desktop {
        grid-template-columns: repeat(4, 1fr);
      }

      & li {
        list-style: none;
        width: $phone-product-card-width;

        @include on-tablet {
          width: $tablet-product-card-width;
        }

        @include on-wide-tablet {
          width: $wide-tablet-product-card-width;
        }

        @include on-desktop {
          width: 100%;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3),
          &:nth-child(4) {
            grid-column: span 1;
          }
        }
      }
    }
  }
}
