@import '/src/styles/utils/mixins';
@import '/src/styles/utils/variables';

.product__card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  margin: 0;

  border-radius: 8px;
  border: 1px solid $shadow;
  background: $white;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 32px 0;
  font-family: inherit;

  &-wrapper {
    text-decoration: none;
  }

  &--top {
    width: 100%;
    position: relative;
    font-family: inherit;
    display: flex;
    flex-direction: column;

    &--name {
      max-width: 290px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin: 24px 0 8px;
      padding: 0 32px;
      color: $main-text-color;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }

    &--img {
      height: $phone-product-card-img-height;
      padding: 0;
      flex-grow: 0;
      align-self: center;

      @include on-tablet {
        height: $tablet-product-card-img-height;
      }

      @include on-desktop {
        height: $desktop-product-card-img-height;
      }
    }

    &::after {
      width: inherit;
      position: absolute;
      content: '';
      height: 1px;
      background-color: $shadow;
      bottom: -8px;
      left: 0;
      right: 0;
    }

    &--price {
      padding: 0 32px;
      color: $main-text-color;
      font-family: inherit;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 30.8px;
    }
  }

  &--bottom {
    display: flex;
    width: 100%;
    padding: 0 32px;
    flex-direction: column;
    align-items: center;
    margin-top: 16px;

    &--properties {
      width: inherit;
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      gap: 8px;

      &--specific {
        display: flex;
        justify-content: space-between;
      }

      & p {
        margin: 0;
        padding: 0;
        color: $gray-light;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      & span {
        color: $main-text-color;
        text-align: right;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
  }

    &--actions {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 0 32px 32px;
      gap: 8px;
      justify-content: space-between;

      &--add {
        height: 40px;
        cursor: pointer;

        @include button-style;

        &:hover {
          box-shadow: 0 3px 13px 0 rgba(17, 23, 36, 0.4);
        }
      }

      &--like {
        @include like-button-style;

        cursor: pointer;

        width: 40px;
        height: 40px;
      }
    }
  }
