@import '/src/styles/utils/mixins';

.product__card {
  display: flex;
  flex-direction: column;
  margin: 0 16px;

  border-radius: 8px;
  border: 1px solid #e2e6e9;
  background: #fff;
  justify-content: space-between;
  width: inherit;
  height: inherit;
  padding: 32px;
  font-family: inherit;

  &--top {
    width: 100%;
    position: relative;
    font-family: inherit;
    display: flex;
    flex-direction: column;

    &--name {
      width: inherit;
      margin: 24px 0 8px;
      color: #0f0f11;
      font-family: inherit;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }

    &--img {
      aspect-ratio: 1/1;
      height: 129px;
    }

    &::after {
      width: inherit;
      position: absolute;
      content: '';
      height: 1px;
      background-color: #e2e6e9;
      bottom: -8px;
      left: 0;
      right: 0;
    }

    &--price {
      color: #0f0f11;
      font-family: inherit;
      font-size: 22px;
      font-style: normal;
      font-weight: 800;
      line-height: 30.8px;
    }
  }

  &--bottom {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;

    &--properties {
      width: inherit;
      display: flex;
      flex-direction: column;
      padding: 8px 0;
      gap: 8px;

      &--specific {
        display: flex;
        justify-content: space-between;
      }

      & p {
        margin: 0;
        padding: 0;
        color: #89939a;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }

      & span {
        color: #0f0f11;
        text-align: right;
        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    &--actions {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      justify-content: space-between;

      &--add {
        height: 40px;
        @include button-style;
      }

      &--like {
        @include like-button_style;
        width: 40px;
        height: 40px;
      }
    }
  }
}
