$tablet-min-width: 639px;
$wide-tablet-min-width: 940px;
$desktop-min-width: 1199px;
$big-screen-min-width: 1399px;
$phone-sections-gap: 56px;
$tablet-sections-gap: 64px;
$desktop-sections-gap: 80px;
$phone-product-card-width: 212px;
$tablet-product-card-width: 248px;
$wide-tablet-product-card-width: 259px;
$desktop-product-card-width: 278px;
$phone-product-card-img-height: 130px;
$tablet-product-card-img-height: 196px;
$desktop-product-card-img-height: 201px;

