$tablet-min-width: 639px;
$wide-tablet-min-width: 940px;
$desktop-min-width: 1199px;
$big-screen-min-width: 1399px;
$phone-sections-gap: 56px;
$tablet-sections-gap: 64px;
$desktop-sections-gap: 80px;
$phone-product-card-width: 212px;
$tablet-product-card-width: 248px;
$wide-tablet-product-card-width: 259px;
$desktop-product-card-width: 278px;
$phone-product-card-img-height: 130px;
$tablet-product-card-img-height: 196px;
$desktop-product-card-img-height: 201px;
$padding-inline-phone: 16px;
$padding-inline-tablet: 24px;
$padding-inline-desktop: 32px;
$main-background-color: #fafbfc;
$main-text-color: #0f0f11;
$border-color: #b4bdc3;
$blue-accent: #476DF4;
$button-color: #f86800;
$gray-light: #89939a;
$gray-dark: #313237;
$shadow: #e2e6e9;
$white: #fff;


