$tablet-min-width: 639px;
$desktop-min-width: 1199px;
$big-screen-min-width: 1399px;
$phone-sections-gap: 56px;
$tablet-sections-gap: 64px;
$phone-product-card-width: 212px;
$phone-product-card-img-width: 148px;
$phone-product-card-img-height: 129px;
