@import '/src/styles/utils/mixins';
@import '/src/styles/utils/variables';

.shopping-cart {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr;
  background: $main-background-color;
  padding: 0 0 56px;

  &__active {
    &__top {
      display: none;
    }
  }

  @include on-tablet {
    grid-template-columns: repeat(12, 1fr);
  }

  &__top {
    grid-column: span 4;
    margin: 24px $padding-inline-phone 0;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;

    @include on-tablet {
      grid-column: span 12;
      margin: 24px $padding-inline-tablet 0;
    }

    & h1 {
      margin: 24px 0 32px;
      color: $main-text-color;
      font-family: inherit;
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.32px;

      @include on-tablet {
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.48px;
      }
    }

    &--search-params {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      gap: 4px;

      &__name {
        margin: 0;
        display: flex;
        padding: 0;
        color: $gray-light;
        font-family: inherit;
        font-size: 12px;
        line-height: 14px;
        font-weight: 600;
      }

      &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;

        &-slider {
          transform: rotate(180deg);
        }
      }
    }
  }

  &__left {
    grid-column: span 4;
    gap: 16px;
    display: flex;
    flex-direction: column;
    margin: 16px $padding-inline-phone 0;
    padding: 0;

    @include on-tablet {
      margin: 32px $padding-inline-tablet 0;
      grid-column: span 12;
    }


    @include on-desktop {
      grid-column: span 8;
    }

    &__element {
      width: 100%;
      padding: 16px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      border: 1px solid $shadow;
      background: $white;

      &__active {
        display: none;
      }

      @include on-tablet {
        flex-direction: row;
        align-items: center;
        padding: 24px;
        justify-content: space-between;
      }

      &__top {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;

        @include on-tablet {
          gap: 24px;
        }

        &__close {
          background-color: transparent;
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__name {
          width: 100%;
          color: $main-text-color;
          font-family: inherit;
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 21px;
          display: flex;
          flex-grow: 1;
        }

        &__img {
          & img {
            height: 72px;
            width: 65px;

            @include on-tablet {
              height: 80px;
              width: 72px;
            }
          }
        }
      }
    }

    &__bottom {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include on-tablet {
        width: auto;
        gap: 24px;
        justify-content: center;
      }

      &__counter {
        display: flex;
        justify-content: start;
        align-items: center;
        gap: 13px;

        &__img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
          border-radius: 48px;
          border: 1px solid $border-color;
        }
      }

      &__price {
        color: $main-text-color;
        font-family: inherit;
        font-size: 22px;
        font-style: normal;
        font-weight: 800;
        line-height: 140%;
      }
    }
  }

  &__total {
    margin: 32px $padding-inline-phone 0;
    grid-column: span 4;
    padding: 16px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    height: fit-content;

    border: 1px solid $shadow;
    background: $white;

    &__active {
      display: none;
    }

    @include on-tablet {
      grid-column: span 12;
      margin: 32px $padding-inline-tablet 0;
    }

    @include on-desktop {
      grid-column: 9/13;
    }

    &__top {
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 1px solid $shadow;

      & h3 {
        margin: 0;
        display: flex;
        justify-content: center;
        color: $main-text-color;
        text-align: center;
        font-family: inherit;
        font-size: 32px;
        font-style: normal;
        font-weight: 800;
        line-height: 41px;
        letter-spacing: -0.32px;
      }

      & p {
        display: flex;
        justify-content: center;
        color: $gray-light;
        margin: 0;
        text-align: center;
        font-family: inherit;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 21px;
      }
    }

    &__bottom {
      width: 100%;
      & button {
        @include button-style;

        height: 48px;
        width: 100%;
      }
    }
  }
}
