@import '/src/styles/utils/variables';

.footer {
  grid-column: span 4;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 32px;
  box-shadow: 0 -1px 0 0 $shadow;
  padding: 32px $padding-inline-phone;

  @include on-tablet {
    gap: 0;
    grid-column: span 12;
    padding: 0 $padding-inline-tablet;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  @include on-desktop {
    padding: 0 $padding-inline-desktop;
  }

  &__img {
    width: 89px;
    height: 32px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    @include on-tablet {
      flex-direction: row;
      gap: 17px;
    }

    @include on-wide-tablet {
      gap: 107px;
    }

    @include on-desktop {
      gap: 107px;
    }

    &__li {
      height: 100%;
      padding: 0;

      & a {
        text-decoration: none;
        color: $gray-light;

        font-family: inherit;
        font-size: 12px;
        font-style: normal;
        font-weight: 800;
        line-height: 11px;
        letter-spacing: 0.48px;
        text-transform: uppercase;

        &:hover {
          color: $gray-dark;
          cursor: pointer;
        }
      }

      @include on-tablet {
        padding: 32px 0;
      }
    }
  }

  &__back--to--top {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    cursor: pointer;

    color: $gray-light;

    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    @include on-tablet {
      width: auto;
    }

    &:hover {
      color: $gray-dark;
    }

    &__layout {
      border-radius: 48px;
      background-image: url(../../assets/icons/slider_gray_left.svg);
      background-repeat: no-repeat;
      background-position: center;
      cursor: pointer;
      border: 1px solid $border-color;
      width: 30px;
      height: 30px;
      transform: rotate(90deg);

      &:hover {
        border: 1px solid black;
        background-image: url(../../assets/icons/slider_black_left.svg);
      }

      display: flex;
      justify-content: center;
      align-items: center;

      &--slider {
        transform: rotate(270deg);
      }
    }
  }
}
