.footer {
  margin: 64px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  gap: 32px;
  background: #fff;
  box-shadow: 0 -1px 0 0 #e2e6e9;

  display: flex;
  padding: 32px 16px;
  gap: 32px;

  &__img {
    width: 89px;
    height: 32px;
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin: 0;
    padding: 0;
    list-style: none;

    color: #89939a;
    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: 11px;
    letter-spacing: 0.48px;
    text-transform: uppercase;
  }

  &__back--to--top {
    width: 100%;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;

    color: #89939a;

    font-family: inherit;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

    &__layout {
      border-radius: 48px;
      border: 1px solid #b4bdc3;
      width: 30px;
      height: 30px;

      display: flex;
      justify-content: center;
      align-items: center;

      &--slider {
        transform: rotate(270deg);
      }
    }
  }
}
