@font-face {
  font-family: Mont;
  font-weight: 500;
  src: url(./fonts/Mont-Regular.otf) format("opentype");
}

@font-face {
  font-family: Mont;
  font-weight: 600;
  src: url(./fonts/Mont-SemiBold.otf) format("opentype");
}

@font-face {
  font-family: Mont;
  font-weight: 700;
  src: url(./fonts/Mont-Bold.otf) format("opentype");
}

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  font-family: Mont, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

@import "./Components/ProductDetailsPage/ProductDetailsPage";
@import "./Components/NotFoundPage/NotFoundPage";
@import "./Components/ShoppingCart/ShoppingCart";
@import "./Components/HomePage/HomePage.module";
@import "./Components/ProductCard/ProductCard";
@import "./Components/Accessories/Accessories";
@import "./Components/ProductPage/ProductPage";
@import "./Components/Pagination/Pagination";
@import "./Components/Favorites/Favorites";
@import "./Components/AsideMenu/AsideMenu";
@import "./Components/ItemCard/ItemCard";
@import "./Components/Tablets/Tablets";
@import "./Components/Search/Search";
@import "./Components/Footer/Footer";
@import "./Components/Header/Header";
@import "./Components/Phones/Phones";
@import "./styles/utils/mixins";
