.slider {
  display: flex;
  gap: 16px;

  &--layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 48px;
    border: 1px solid $shadow;
    cursor: pointer;
    background: none;

    &:hover {
      border: 1px solid black;
      background: none;
    }

    &__left,
    &__right {
      background-repeat: no-repeat;
      background-position: center;
    }

    &__left {
      background-image: url(../../assets/icons/slider_gray_left.svg);

      &__disabled {
        &:hover,
        &:active {
          background-image: url(../../assets/icons/slider_gray_left.svg);
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid rgb(226, 230, 233);
          cursor: default;
        }
      }

      &:not(&__disabled) {
        &:hover,
        &:active {
          background-image: url(../../assets/icons/slider_black_left.svg);
          border: 1px solid rgb(15, 15, 17);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }

    &__right {
      background-image: url(../../assets/icons/slider_gray_right.svg);

      &__disabled {
        &:hover,
        &:active {
          background-image: url(../../assets/icons/slider_gray_right.svg);
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid rgb(226, 230, 233);
          cursor: default;
        }
      }

      &:not(&__disabled) {
        &:hover,
        &:active {
          background-image: url(../../assets/icons/slider_black_right.svg);
          border: 1px solid rgb(15, 15, 17);
          background-repeat: no-repeat;
          background-position: center;
        }
      }
    }
  }
}
